* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Rubik Microbe', cursive;
    font-family: 'Sorts Mill Goudy', serif;
    
}


nav {

    padding: 15px 15px 0 15px;
    height: 78px;

}
a{
    margin:1px;
    padding:5px 20px;
}
a:link, a:visited {
   
    color: #fff; 
    
    text-decoration: none; 
    font-size: 16px;
    opacity: 0.9;
}
a:hover, a:active {

    opacity: 1.5;
    text-decoration:underline white;
    color:#bdc1c6;
}
button:hover {
    box-shadow: 0 1px 3px rgb(23 23 23 / 24%);
    background-color: #303134;
    border: 1px solid #5f6368;
    color: #e8eaed;
}
.menu-acc {
    display: block;
    position: relative;
    float: right;
    right: 0;
}

.link-left {
    margin-top: 10px;
    float: left;
    left: 0px;
}

.link-right {
    float: right;
    right: 0px;
    height: 48px;
    vertical-align: middle;
}

nav a {
    vertical-align: middle;
}

.link-right button {
    border-radius: 100%;
    width: 44px;
    height: 44px;
}

.g-menu {
    width: 40px;
    height: 40px;
    padding: 4px;
}

.s-box {
    width: 100%;

    position: relative;
    /* padding-left: 35px;
    padding-right: 35px; */
}

.s-input {
    width: 600px;
    border-radius: 25px;
    padding: 5px 18px 0 24px;
    height: 50px;
    background-color: transparent;
      
}

.search-icon {
    position: relative;
    top: 5px;
    right: 585px;
    width: 1.2rem;
}

.vs-icon {
    position: relative;
    top: 3px;
    /* left:-60px; */
    right: 60px;
    width: 1rem;
}

.btn * {
    background-color: #303134;
    color: #e8eaed;
    border: 1px solid #303134;
    font-family: arial,sans-serif;
    font-size: 15px;
    margin: 45px 2px;
    padding: 0 19px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    width: auto;
    vertical-align: middle;
    border-radius: 4px;

    /* margin: 20px auto; */
}

.btn-ifl {
    margin-left: 10px;
    }
body{
    background-color: rgba(32,33,36,1);
    color: #bdc1c6;
}

main {
    margin: 15% auto;
    text-align: center;
    
}

.section-1 img{
    margin-bottom: 15px;
    max-width:100%;
    height:auto;

}

.section-2 {
    margin: auto;
    max-height: 155px;

}

.section-3 {
    display: block;
}

.logo {
    position: relative;
    width: 300px;
    height: 92px;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}

.links {
    position:relative;
    margin: 0px auto 40px;
    width: 100%;
    background-color: #1e1e1e5d;
    padding: 20px 20px;
}
footer{
    width:100%;
    font-size: 14px;
    font-family: arial,sans-serif;
    margin-top:29%;
    padding:5px;
    height:100%;
    color: #999da2;
    

}
footer .link-1 .link-2 .link-3 {
    height: 47px;
}
footer-top{
    border-bottom: 1px solid #3c4043;
}


.link-1 {
    float: left;
    left: 0px;
    width: 33.33%;
}

.link-2 {
    float: left;
    float: right;
    left: 0;
    right: 0;
    width: 33.33%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.link-3 {
    float: right;
    right: 0px;
    width: 33.33%;
    text-align: right;
}
